DATABASE=postgres://35454ff0698fc842abb4855848a9fdf1d5c8ec1a0e7f0c5137be5db440a18da2:sk_faLkdDK_By7zoCvyJ7Ig4@db.prisma.io:5432/postgres?sslmode=require
JWT_SECRET=
JWT_REFRESH_SECRET=
PORT=8000
NODE_ENV=development
REDIS_HOST=redis
REDIS_PORT=6379
FRONTEND_URL="http://localhost:3000"